{% extends "base.html" %}

{% block title %}Web{% endblock %}

        {% block contents %}


        <br>
        <div class="container">

            <div class="row">

                <div class="col offset-2">

                    <form method="POST"
                        enctype = "multipart/form-data">

                        {% csrf_token %}
                        <table>
                            <tr>
                                <th>商品名</th>
                                <td>{{ form.name }}</td>
                            </tr>

                            <tr>
                                <th>価格</th>
                                <td>{{ form.price }}</td>
                            </tr>

                            <tr>
                                <th>詳細</th>
                                <td>{{ form.description }}</td>
                            </tr>

                            <tr>
                                <th>商品画像</th>
                                <td>{{ form.image }}</td>
                            </tr>
                        </table>
                        <hr>
                        <button type = "submit">追加する</button>
                    </form>
                </div>
            </div>
        </div>
        {% endblock %}



                                   

